@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: normal;
  color: #474867;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main__container {
  display: flex;
  column-gap: 133px;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.main__left-column {
  width: 394px;
}

.main__photo {
  display: block;
  margin: 0 auto 20px;
}

.main__title {
  color: #343434;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin: 0 0 12px 0;
}

.main__desc {
  text-align: center;
  margin: 0 0 40px 0;
}

.sections-wrapper {
  color: #ffffff;
  background: linear-gradient(#ffffff 0%, #ffffff 5%, #474867 5%, #474867 100%);
  padding-bottom: 50px;
}

.main__contacts {
  margin-bottom: 30px;
}

.left-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 224px;
  min-height: 54px;
  background-color: #9c9600;
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 auto 20px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0 30px;
}

.contacts-item {
  height: 40px;
  list-style: none;
}

.contacts-item__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  font-variant: small-caps;
}

.contacts-item__link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #9c9600;
  transition: all 0.3s ease-in;
}

.contacts-item__link:hover::before {
  width: 100%;
}

.contacts-img {
  margin-right: 20px;
}

.main__skills {
  margin-bottom: 30px;
}

.skills-list,
.languages-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0 58px;
}

.main__right-column {
  width: 603px;
}

.main__about {
  padding-bottom: 46px;
}

.right-title {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 50px;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding-left: 80px;
}

.right-title::before {
  position: absolute;
  width: 50px;
  height: 50px;
  content: "";
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.about-title::before {
  background-image: url("../images/about-icon.svg");
}

.education-title::before {
  background-image: url("../images/education-icon.svg");
}

.code-title::before {
  background-image: url("../images/code-icon.svg");
}

.about-desc {
  margin: 0 0 25px 0;
}

.about-subtitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.about-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0 0 0 40px;
}

.main__education {
  padding-bottom: 46px;
}

.education-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

.main__code {
  position: relative;
}

.code-link {
  position: absolute;
  right: 30px;
  transform: translateY(-50%);
  display: block;
}

@keyframes code-active {
  0% {
    transform: translateY(-50%) scale(1);
  }
  20% {
    transform: translateY(-50%) scale(1.1);
  }
  40% {
    transform: translateY(-50%) scale(1.1) rotate(15deg);
  }
  60% {
    transform: translateY(-50%) scale(1.1) rotate(-15deg);
  }
  80% {
    transform: translateY(-50%) scale(1.1);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}

.code-link:hover {
  animation: code-active 2s linear infinite;
}

.code-example {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 15px;
}

.footer {
  background-color: #6a6a6a;
}

.footer__container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  color: #ffffff;
  margin: 0 auto;
  padding: 15px 0;
}

.footer__github {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.footer__github svg,
.footer__rs-logo__link svg,
.github-desc {
  transition: all 0.3s ease-in;
}

.footer__github:hover .github-desc {
  color: #9c9600;
}

.footer__github:hover svg,
.footer__rs-logo__link:hover svg {
  transform: scale(1.1);
}

.github-desc {
  padding-left: 15px;
}

.footer__copyright {
  margin-left: 332px;
  font-size: 16px;
}

.footer__rs-logo__link {
  margin-left: auto;
}
